<div id="<%= dom_id people_find %>">
  <p>
    <strong>Address:</strong>
    <%= people_find.address %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= people_find.gender %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= people_find.age %>
  </p>

  <p>
    <strong>Body type:</strong>
    <%= people_find.body_type %>
  </p>

  <p>
    <strong>Height:</strong>
    <%= people_find.height %>
  </p>

  <p>
    <strong>Race:</strong>
    <%= people_find.race %>
  </p>

  <p>
    <strong>Facial hair:</strong>
    <%= people_find.facial_hair %>
  </p>

  <p>
    <strong>Voice:</strong>
    <%= people_find.voice %>
  </p>

  <p>
    <strong>Hair color:</strong>
    <%= people_find.hair_color %>
  </p>

  <p>
    <strong>Ears:</strong>
    <%= people_find.ears %>
  </p>

  <p>
    <strong>Wrinkles:</strong>
    <%= people_find.wrinkles %>
  </p>

</div>
