<div class="row">
  <div class="col-md-12">
    <div class="card border-info mt-4">
      <div class="card-header">
        <h4><%= t(:account) %></h4>
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-sm-12 mb-3">
                <label class="label label-default" style="font-size:24px;"><b><%= t(:name) %>:</b>
                  <span class="text-primary"><%= current_user.name %></span></label>
              </div>

              <div class="col-sm-12 mb-3">
                <label class="label label-default" style="font-size:24px;"><b>email:</b>
                  <span class="text-primary"><%= current_user.email %></span></label>
              </div>
            </div>
          </div>
        </div>

        <%= button_to t(:sign_out), signout_path, method: :delete, class: 'btn btn-danger' %>
      </div>
    </div>

    <div id='more_users_home_list'>
      <%= render 'layouts/home_users_list' %>
    </div>

  </div>
</div>
