<% provide(:title, 'Sign up') %>
<h1>Регистрация</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :email %>
      <%= f.text_field :email, class: "form-control", required: true %>

      <%= f.label 'Пароль' %>
      <%= f.password_field :password, class: "form-control", required: true %>

      <%= f.label 'Подтверждение пароля', 'Confirmation' %>
      <%= f.password_field :password_confirmation, minlength: 4, class: "form-control", suggested: "new-password", required: true %>

      <%= f.submit "Зарегестрироваться", class: "btn btn-large btn-primary mt-4" %>
    <% end %>
  </div>
</div>
