<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <% if @user.email == 'pikromat1995@gmail.com' %>
    <%= button_to "Destroy this user", @user, method: :delete %>
  <% end %>
</div>
